@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Cairo', sans-serif;
  font-size: 10px;
}


.register{

  width: 100%;
  height: 100vh;
}

.container{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-side{

  width: 90%;
  height: 100vh;
  background-color: #000066;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(images/847487551.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img{
    width: 100%;
    padding-top: 60px;
}

.img img{
    width: 100%;
    padding-right: 3px;
}

.welcome{
  margin-top: 12px;
}

.welcome p {
  color: #fff;
    font-size: 25px;
}

.right-side{
  height: 100vh;
  width: 37%;
  background-color: #F3EFE3;
}

.right-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myform{
  display: flex;
  width: 75%;
  height: 35vh;
  flex-direction: column;
  align-items: center;
}

.header{
  font-size: 35px;
  margin-bottom: 50px;
}

.signup{
  width: 100%;
}


.fullName, .nationalId, .email, .phoneNumber, .password, .birthDate, .country, .passwordConfirmation{
  width: 48%;
  height: 27px;
  margin: 4px;
}


#gender{
  width: 98%;
  height: 27px;
  margin: 4px;
}

.registerBtn, .loginBtn{
  
    cursor: pointer;
    background-color: #000066;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin: 10px 5px;
    width: 141px;
    height: 38px;
}

.signIn{
  width: 85%;
}

.email-signIn, .password-signIn{
  height: 32px;
  width: 100%;
  margin: 4px;
}

.forgetPassword{
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

.forgetPassword p {
  font-size: 10px;
}

.myform-signIn{
  display: flex;
  width: 75%;
  height: 35vh;
  flex-direction: column;
  align-items: center;
}

.signInBtn{
  cursor: pointer;
  background-color: #000066;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin: 33px 5px 0px 5px;
  width: 181px;
  height: 38px;
  font-size: 15px;
}

.createANewAccount{
  font-size: 9px;
  font-weight: 900;
}

.createANewAccount span{
  text-decoration: underline;
    cursor: pointer;
}

.logo img{
  width: 90%;
}

.logo{
  text-align: center;
  margin-bottom: 10rem;
}


/*Start of Main pages*/
.left-side-HP{

  width: 40%;
  height: 100vh;
  background-color: #000066;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(images/ManagerBG.jpg) no-repeat 100% 50%;
  background-size: cover;
}

.right-side-HP{
  height: 100vh;
  width: 60%;
  background-color: #F3EFE3;
}

.right-container-HP{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoM img{
  width: 50%;
}

.logoM{
  text-align: center;
  margin-top: 10rem;
}
.headerHP{
  font-size: 30px;
  margin-bottom: 670px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*End of Main pages*/








/*Resposive stuff*/
@media (min-width: 1630px)  {
  .signIn {
    width: 75%;
}

.header{
  font-size: 35px;
  margin-bottom: 50px;
}

.logo img{
  width: 90%;
}


}
@media (min-width: 1850px)  {
  .left-side {
    
    background: url(images/847487551.jpg) no-repeat 60% 50%;
    
}
}